.place__title {
  margin-block: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  width: calc(460 / 984 * 100%);
  height: min-content;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .place__title {
    font-size: calc(42px + (72 - 42) * ((100vw - 768px)/(1024 - 768)));
    width: calc(440 / 928 * 100%);
  }
}

@media screen and (min-width: 550px) and (max-width: 768px) {
  .place__title {
    font-size: calc(32px + (42 - 32) * ((100vw - 550px)/(768 - 550)));
    width: calc(340 / 720 * 100%);
  }
}

@media screen and (min-width: 320px) and (max-width: 550px) {
  .place__title {
    width: auto;
    font-size: 32px;
    margin-left: 16px;
    margin-right: 16px;
  }
}