.places {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-top: 92px;
  padding-bottom: 92px;
  padding-left: 148px;
  padding-right: 148px;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .places {
    padding-left: calc(48px + (148 - 48) * ((100vw - 1024px)/(1280 - 1024)));
    padding-right: calc(48px + (148 - 48) * ((100vw - 1024px)/(1280 - 1024)));
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .places {
    padding-left: calc(24px + (48 - 24) * ((100vw - 768px)/(1024 - 768)));
    padding-right: calc(24px + (48 - 24) * ((100vw - 768px)/(1024 - 768)));
  }
}

@media screen and (min-width: 750px) and (max-width: 768px) {
  .places {
    padding-left: calc(16px + (24 - 16) * ((100vw - 750px)/(768 - 750)));
    padding-right: calc(16px + (24 - 16) * ((100vw - 750px)/(768 - 750)));
    padding-top: 88px;
    padding-bottom: 92px;
    gap: 73px;
  }
}

@media screen and (max-width: 750px) {
  .places {
    padding-left: 0;
    padding-right: 0;
    padding-top: 64px;
    padding-bottom: 66px;
    align-items: center;
    gap: 50px;
  }
}