@font-face {
  font-family: 'Inter';
  src: url(./fonts/Inter/Inter.var.woff2);
}

.page {
  font-family: 'Inter';
  max-width: 1280px;
  min-width: 321px;
  margin: 0 auto;
  background-color: rgba(42, 44, 47, 1);
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-top: 28px;
  padding-left: 48px;
  padding-right: 48px;
}

.logo {
  width: 176px;
  height: 52px;
}

.lang-link-container {
  display: flex;
  gap: 18px;
}

.header__lang-link {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.header__lang-link_active {
  text-decoration-line: underline;
}

.content {
  color: white;
}

.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 148px;
  padding-right: 148px;
}

.lead__title {
  margin-block: 0;
  margin-top: 56px;
  margin-bottom: 32px;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  width: 720px;
  height: 200px;
  height: fit-content;
  text-align: center;
}

.lead__subtitle {
  margin-block: 0;
  margin-bottom: 64px;
  width: 640px;
  height: 72px;
  height: fit-content;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}

.lead__image {
  width: 100%;
}

.lead__caption {
  margin-block: 0;
  align-self: start;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-top: 8px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 148px;
  padding-right: 148px;
}

.intro__title {
  margin-block: 0;
  margin-top: 92px;
  width: 690px;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
}

.intro__text {
  margin-block: 0;
  margin-top: 40px;
  margin-bottom: 33px;
  width: 690px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
}

.intro__list {
  list-style: none;
  margin-block: 0;
  padding-inline: 0;
  margin-bottom: 92px;
  width: 690px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
}

.list__number {
  font-weight: normal;
}

.photo-grid {
  display: grid;
  padding-left: 48px;
  padding-right: 48px;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.photo-grid__item {
  width: 100%;
}

.places {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-top: 92px;
  padding-bottom: 92px;
  padding-left: 148px;
  padding-right: 148px;
}

.place {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.place__first-row {
  display: flex;
  gap: calc(40 / 984 * 100%);
}

.place__title {
  margin-block: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  width: calc(460 / 984 * 100%);
  height: min-content;
}

.place__image {
  width: calc(460 / 984 * 100%);
}

.place__second-row {
  display: flex;
  gap: calc(40 / 984 * 100%);
  align-items: start;
}

.place__website {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: end;
  box-sizing: content-box;
  width: calc(484 / 984 * 100%)
}

.place__url-heading {
  margin-block: 0;
  height: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
  color: #AAAAAA;
}

.place__link {
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  transition: opacity 0.5s ease;
}

.place__link:hover {
  opacity: 0.8;
}

.place__paragraphs {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: calc(484 / 984 * 100%);
}

.place__paragraph {
  margin-block: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
}

.cover {
  position: relative;
  padding-left: 48px;
  padding-right: 48px;
}

.cover__link {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  text-decoration: none;
  color: white;
}

.cover__image {
  width: 100%;
}

.cover__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #2A2C2F;
  opacity: 0.3;
  transition: opacity 0.5s ease;
}

.cover__link:hover .cover__overlay {
    opacity: 0.8;
  }

.cover__text {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.cover__title {
  margin-block: 0;
  margin-bottom: 32px;
  width: 560px;
  height: fit-content;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
}

.cover__subtitle {
  margin-block: 0;
  width: 360px;
  height: 66px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
}

.footer {
  padding: 92px 48px 24px 48px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  color: white;
}

.footer__links {
  margin-block: 0;
  padding-inline: 0;
  display: flex;
  gap: 18px;
  list-style: none;
}


.footer__link {
  text-decoration: none;
  color: white;
  transition: opacity 0.5s ease;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
}

.footer__link:hover {
  opacity: 0.8;
}

.footer_copyright {
  margin-block: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {


  .places {
    padding-left: calc(48px + (148 - 48) * ((100vw - 1024px)/(1280 - 1024)));
    padding-right: calc(48px + (148 - 48) * ((100vw - 1024px)/(1280 - 1024)));
  }

  .lead {
    padding-left: calc(48px + (148 - 48) * ((100vw - 1024px)/(1280 - 1024)));
    padding-right: calc(48px + (148 - 48) * ((100vw - 1024px)/(1280 - 1024)));
  }

  .intro {
    padding-left: calc(48px + (148 - 48) * ((100vw - 1024px)/(1280 - 1024)));
    padding-right: calc(48px + (148 - 48) * ((100vw - 1024px)/(1280 - 1024)));
  }

  .cover {
    padding-left: calc(0px + (48 - 0) * ((100vw - 1024px)/(1280 - 1024)));
    padding-right: calc(0px + (48 - 0) * ((100vw - 1024px)/(1280 - 1024)));
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

  .places {
    padding-left: calc(24px + (48 - 24) * ((100vw - 768px)/(1024 - 768)));
    padding-right: calc(24px + (48 - 24) * ((100vw - 768px)/(1024 - 768)));
  }

  .place__title {
    font-size: calc(42px + (72 - 42) * ((100vw - 768px)/(1024 - 768)));
    width: calc(440 / 928 * 100%);
  }

  .place__first-row {
    gap: calc(32 / 928 * 100%);
  }
  .place__image {
    width: calc(440 / 928 * 100%);
  }

  .place__second-row {
    gap: calc(32 / 928 * 100%);
  }

  .place__website {
    width: calc(456 / 928 * 100%)
  }

  .place__paragraphs {
    width: calc(456 / 928 * 100%);
  }

  .place__paragraph {
    font-size: 16px;
  }

  .lead {
    padding-left: calc(0px + (48 - 0) * ((100vw - 768px)/(1024 - 768)));
    padding-right: calc(0px + (48 - 0) * ((100vw - 768px)/(1024 - 768)));
  }

  .lead__caption {
    padding-left: calc(24px + (0 - 24) * ((100vw - 768px)/(1024 - 768)));
  }

  .intro {
    padding-left: calc(24px + (48 - 24) * ((100vw - 768px)/(1024 - 768)));
    padding-right: calc(24px + (48 - 24) * ((100vw - 768px)/(1024 - 768)));
  }

  .photo-grid {
    padding-left: calc(24px + (48 - 24) * ((100vw - 768px)/(1024 - 768)));
    padding-right: calc(24px + (48 - 24) * ((100vw - 768px)/(1024 - 768)));
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }

  .cover {
    padding-left: 0;
    padding-right: 0;
  }

  .footer {
    padding-left: calc(24px + (48 - 24) * ((100vw - 768px)/(1024 - 768)));
    padding-right: calc(24px + (48 - 24) * ((100vw - 768px)/(1024 - 768)));
    padding-top: 88px;
  }
}

@media screen and (min-width: 550px) and (max-width: 768px) {
  .header {
    padding-left: 24px;
    padding-right: 24px;
  }

  .lead__title {
    width: auto;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 72px;
  }

  .lead__subtitle {
    width: auto;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 26px;
  }

  .intro__title {
    width: 100%;
  }
  
  .intro__text {
    width: 100%;
  }
  
  .intro__list {
    width: 100%;
    margin-bottom: 88px;
  }
  .place {
    gap: 73px;
  }
  .places {
    padding-left: calc(16px + (24 - 16) * ((100vw - 550px)/(768 - 550)));
    padding-right: calc(16px + (24 - 16) * ((100vw - 550px)/(768 - 550)));
    padding-top: 88px;
  }

  .place__title {
    font-size: calc(32px + (42 - 32) * ((100vw - 550px)/(768 - 550)));
    width: calc(340 / 720 * 100%);
  }

  .place__first-row {
    gap: calc(28 / 720 * 100%);
  }
  .place__image {
    width: calc(340 / 720 * 100%);
  }

  .place__second-row {
    gap: calc(28 / 720 * 100%);
  }

  .place__website {
    width: calc(352 / 720 * 100%)
  }

  .place__paragraphs {
    width: calc(352 / 720 * 100%);
  }

  .place__paragraph {
    font-size: 16px;
  }

  .lead {
    padding-left: calc(0px + (48 - 0) * ((100vw - 768px)/(1024 - 768)));
    padding-right: calc(0px + (48 - 0) * ((100vw - 768px)/(1024 - 768)));
  }

  .lead__caption {
    padding-left: calc(16px + (24 - 16) * ((100vw - 550px)/(768 - 550)));
  }

  .intro {
    padding-left: calc(16px + (24 - 16) * ((100vw - 550px)/(768 - 550)));
    padding-right: calc(16px + (24 - 16) * ((100vw - 550px)/(768 - 550)));
  }

  .photo-grid {
    padding-left: calc(16px + (24 - 16) * ((100vw - 550px)/(768 - 550)));
    padding-right: calc(16px + (24 - 16) * ((100vw - 550px)/(768 - 550)));
    grid-template-columns: repeat(2, 1fr);
  }

  .cover {
    padding-left: 0;
    padding-right: 0;
  }

  .footer {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 88px;
  }
}


@media screen and (min-width: 320px) and (max-width: 750px) {
  .footer {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 64px;
  }

  .footer__container {
    flex-direction: column;
    align-items: start;
    gap: 48px;
  }

  .footer__links {
    flex-direction: column;
  }
}

/* 550 - 320---------------------------------------------------------- */

@media screen and (min-width: 320px) and (max-width: 550px) {
  .header {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .logo {
    width: 142px;
    height: 42px;
  }

  .header__lang-link {
    font-size: 18px;
    line-height: 1.11;
  }

  .lead {
    padding-left: 0;
    padding-right: 0;
  }

  .lead__title {
    width: auto;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 40px;
  }

  .lead__subtitle {
    width: auto;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
  }

  .lead__caption {
    padding-left: 16px;
  }

  .intro {
    padding-left: 16px;
    padding-right: 16px;
  }

  .intro__title {
    width: auto;
    font-size: 32px;
  }
  
  .intro__text {
    width: auto;    
  }
  
  .intro__list {
    width: auto;
    margin-bottom: 64px;
  }

  .photo-grid {
    padding-left: 16px;
    padding-right: 16px;
    grid-template-columns: repeat(1, 1fr);
  }

  .places {
    padding-left: 0;
    padding-right: 0;
    padding-top: 88px;
    align-items: center;
    gap: 50px;
  }

  .place {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .place__first-row{
    flex-direction: column;
    width: 100%;
    gap: 32px;
  }

  .place__title {
    width: auto;
    font-size: 32px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .place__website {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
  }

  .place__second-row {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .place__image {
    width: 100%;
  }

  .place__paragraphs {
    width: 100%;
  }

  .place__paragraph {
    margin-left: 16px;
    margin-right: 16px;
  }

  .cover {
    padding-left: 0;
    padding-right: 0;
  }

  .cover__title {
    width: auto;
    margin: 0 16px 16px 16px;
    font-size: 32px;
  }

  .cover__subtitle {
    width: auto;
    margin: 0 16px 0 16px;
    font-size: 14px;
  }
}