.cover__subtitle {
  margin-block: 0;
  max-width: 360px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  z-index: 13;
}

@media screen and (min-width: 320px) and (max-width: 550px) {
  .cover__subtitle {
    margin: 0 16px 0 16px;
    font-size: 14px;
  }
}