.lead__subtitle {
  margin-block: 0;
  margin-bottom: 64px;
  max-width: 640px;
  height: fit-content;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (min-width: 550px) and (max-width: 768px) {
  .lead__subtitle {
    max-width: 450px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 56px;
  }
}

@media screen and (min-width: 320px) and (max-width: 550px) {
  .lead__subtitle {
    max-width: 288px;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 16px;
    margin-bottom: 40px;
  }
}