.place__link {
  color: white;
  width: fit-content;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  transition: opacity .5s ease;
}
.place__link:hover {
  opacity: .8;
}