.footer {
  padding: 92px 48px 24px 48px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer {
    padding-left: calc(24px + (48 - 24) * ((100vw - 768px)/(1024 - 768)));
    padding-right: calc(24px + (48 - 24) * ((100vw - 768px)/(1024 - 768)));
  }
}

@media screen and (min-width: 550px) and (max-width: 768px) {
  .footer {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 88px;
  }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
  .footer {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 64px;
  }
}