.place__website {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: end;
  box-sizing: content-box;
  width: calc(484 / 984 * 100%);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .place__website {
    width: calc(456 / 928 * 100%);
  }
}

@media screen and (min-width: 750px) and (max-width: 768px) {
  .place__website {
    width: calc(352 / 720 * 100%);
  }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
  .place__website {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
  }
}