.place__second-row {
  display: flex;
  gap: calc(40 / 984 * 100%);
  align-items: start;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .place__second-row {
    gap: calc(32 / 928 * 100%);
  }
}

@media screen and (min-width: 750px) and (max-width: 768px) {
  .place__second-row {
    gap: calc(28 / 720 * 100%);
  }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
  .place__second-row {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
}